/* BODY */
body
{
    font-size: 14px;
    font-family: arial,sans-serif;
}

div
{
    display: block;
}
/* BODY */

/* Navs & Tabs */
.nav-link
{
    text-decoration: none;
    
}

#nav-link
{
    color: black;
    margin-top: 5px;
}


/* image for collapsing */

#google-dots
{
    margin-top: 4px;
   
}

/* image for collapsing */

#sign-button
{
    margin-top: 4px;
}


/* Collapsing the nav & tab when you click the dots square */
#collapseExample
{
    position:fixed;
    right: 20px;
}
/* Collapsing the nav & tab when you click the dots square */


/* Navs & Tabs */

/* Media events screen */
@media (min-width: 600px) 
{
   #google-logo
   {
       margin-top:181px;
   }

}

@media (max-width: 599px) 
{
    #google-logo
   {
       margin-top:181px;
   }
}
/* Media events screen */



/* Main Page */

/* search-box */
#search-box
{
    max-width: 584px;
    height: 44px;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    background: #fff;

}


/* search-box */


/* Button */
#btn
{
    background-color: #f8f9fa;
    margin-left: 15px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

#btn:hover
{
    border: 1px solid #ced6e0;
    border-radius: 4px;
}
/* Button */


/* Text */
p
{
    font-size: 13px;
    font-family: arial,sans-serif; 
}
a
{
    text-decoration: none;
    color: #1a0dab;
    padding: 0 3px;
    line-height: 28px;
}
/* Text */


/* Main Page */


/* FOOTER*/
#footer 
{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    
}

.row a
{
    color: rgba(0,0,0,.54);
  
}
#footer-part1  
{
    margin: 20px 10px 5px;
    color: rgba(0,0,0,.54);
    height: 30px;  
}


/* event in nav (footer big screen) */
@media (min-width:600px)
{
    #footer-part2
    {
        height: 40px;
    }
}
/* event in nav (footer) */



/* event in nav (footer big screen) */
@media (max-width: 599px) {
       
 #nav-f2
  {
     position:relative;
     left: 25px; 
  }

  #nav-f3
  {
    position:relative;
    margin-top: 5px;
    right: 130px;  
  }
}
/* event in nav (footer big screen) */



/* FOOTER*/