/* BODY */
body
{
    font-size: 14px;
    font-family: arial,sans-serif;
}

div
{
    display: block;
}
/* BODY */

/* Navs & Tabs */
.nav-link
{
    text-decoration: none;
    
}

#nav-link
{
    color: black;
    margin-top: 5px;
}


/* image for collapsing */

#google-dots
{
    margin-top: 4px;
   
}

/* image for collapsing */

#sign-button
{
    margin-top: 4px;
}


/* Collapsing the nav & tab when you click the dots square */
#collapseExample
{
    position:fixed;
    right: 20px;
}

.divider
{
    margin-top: 0;
}
/* Collapsing the nav & tab when you click the dots square */

#card-body
{
    width: 328px;
    height: 448px;
    overflow-y: scroll;
    overflow-x: hidden;
    
   
}
::-webkit-scrollbar{width:  10px;}
   

    ::-webkit-scrollbar-thumb
    {
        border-radius: 7px;
       background:  #dfe4ea;   
       scroll-margin: 20px;
    }

.bt-b 
{
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0px 20px 30px;
    max-width: 265px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto;
    height: 60px;
}
.bt-b:hover 
{
    background-color: #fff;
    border: 1px solid #4b93f1;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0px 0px 20px 30px;
    max-width: 265px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto;
    height: 60px;
}

#bt-b-a
{
    color: #1a73e8;
}

@media (max-width: 599px) 
{
    .remove-margin
    {
      
    }
  
}

/* Navs & Tabs */

/* Media events screen */
@media (min-width: 600px) 
{
   #google-logo
   {
       margin-top:181px;
      
   }

}

@media (max-width: 599px) 
{
    #google-logo
   {
       margin-top:181px;
       margin-bottom: 0;
      
   }
}
/* Media events screen */



/* Main Page */

/* search-box */
form
{
    display: block;
    margin-top: 0em;
}

.search-box
{
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.search-box:hover
{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}


.icons
{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.sr-ic
{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.sr-ic-img
{
   
    color: #9aa0a6;
    
}
.space-bet-icons
{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

 .submit
{
    background-color:transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;  
    height:34px;
    font-size: 16px;   
}

.mic-ic
{
    margin-top: 5px;
    padding: 0 9px;
}

.mic-ic-img
{
   width: 13px;
  
  
}

.cam-ic-img
{
    width: 28px;
    margin-top: -1px;
}

.sr-ic-img-2
{
    margin-left: 18px;
    width: 17px;
}

.IMG-P
{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: relative;
    left: 268px;
    top:130px;
   
}
@media (max-width: 599px) 
{
   .navbar
    {
        display: none;
    }

   
}
/* search-box */


/* Button */
#btn
{
    background-color: #f8f9fa;
    margin-left: 15px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

#btn:hover
{
    border: 1px solid #ced6e0;
    border-radius: 4px;
}

.btn-img
{
    background: url('/img/camera.png');
    border-style: none;
    width: auto;
    margin-top: -8px;
   
    
}
.btn-primary:hover
{
    cursor: default;
    color: white !important;
}
/* Button */


/* Text */
p
{
    font-size: 13px;
    font-family: arial,sans-serif; 
}
a
{
    text-decoration: none;
    color: #1a0dab;
    padding: 0 3px;
    line-height: 28px;
}
/* Text */


/* Main Page */


/* FOOTER*/
#footer 
{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    
}

.row a
{
    color: rgba(0,0,0,.54);
  
}
#footer-part1  
{
    margin: 20px 10px 5px;
    color: rgba(0,0,0,.54);
    height: 30px;
    font-size: 15px;
}


/* event in nav (footer big screen) */
@media (min-width:600px)
{
    #footer-part2
    {
        height: 40px;
        
    }
}
/* event in nav (footer) */



/* event in nav (footer big screen) */
@media (max-width: 599px) {
       
 #nav-f2
  {
     position:relative;
     left: 25px; 
  }

  #nav-f3
  {
    position:relative;
    margin-top: 5px;
    right: 130px;  
  }
}
/* event in nav (footer big screen) */



/* FOOTER*/